.wrapper {
  width: 100%;
  height: 100%;
}

.button {
  border: none;
  border-radius: 8px;
  color: var(--font);
  background-color: var(--green);
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-weight: 700;
  padding: 8px 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  min-height: 40px;
}

.button.error,
.button.error:hover {
  background-color: var(--red);
}

.button>svg {
  margin-left: 10px;
}

.button.connect:hover,
.button:hover {
  background-color: var(--greenHover);
}

.button.connect {
  background-color: var(--secondaryBackground);
}

.button.tokenSale {
  padding: 14px 26px;
}

.logout {
  width: 40px;
  height: 40px;
  background-color: var(--secondaryBackground);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

@media (max-width: 992px) {
  .wrapper {
    font-size: 14px;
  }
}