:root {
  --font: #fff;

  /* Any changes to this var should be applied to /static/css/style.css as well */
  --defaultButton: #2b363b;
  --secondaryButton: #255558;

  --secondaryBackground: #1a1f23;
  --background: #0b0e0f;

  --secondaryFont: #c5c5c9;
  --secondaryFontDisabled: #a7a6af;

  --transparentWhite: rgba(255, 255, 255, 0.1);
  --semiTransparentWhite: rgba(255, 255, 255, 0.6);

  --red: #ff6666;
  --redHover: #dd5656;
  --darkRed: #4f303a;

  --green: #38d9c0;
  --greenSocial: #1d3d41;
  --greenDisabled: #309089;
  --greenHover: #255558;
  --darkGreen: #304b4f;

  --yellow: #ddbe6d;
  --darkYellow: #4f3b30;
  --white: #ffffff;
  --darkGray: #151a1d;

  --violet: #9d61ff;
  --darkViolet: #45304f;

  --darkBlue: #12151e;

  --disabled: #242334;
  --disabledFont: #a7a6af;

  --fontFamily: 'Inter', sans-serif;

  --borderColor: #3e3d4c;
  --secondaryBorderColor: #494d50;
  --arrowColor: #c5c9c9;
  --padding: 164px;

  --scrollWidth: 8px;

  --maxContentWidth: 3100px;
  --headerHeight: 80px;
  --footerHeight: 80px;
  --homepagePadding: 32px;
}

@media (max-width: 1440px) {
  :root {
    --padding: 64px;
  }
}

@media (max-width: 1200px) {
  :root {
    --padding: 40px;
    --headerHeight: 56px;
    --footerHeight: 132px;
  }
}

@media (max-width: 576px) {
  :root {
    --padding: 16px;
  }
}
