{{#> layout }}
<h1
  style="
    color: rgba(76, 78, 100, 0.87);
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  "
>
  {{message}}
</h1>
<p
  style="
    color: #4c4e6499;
    font-size: 14px;
    font-family: Inter sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  "
>
  Hey,
</p>
<p
  style="
    color: #4c4e6499;
    font-size: 14px;
    font-family: Inter sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  "
>
  We are thrilled to have you on board with bitoftrade Allpay solution!
</p>
<p
  style="
    color: #4c4e6499;
    font-size: 14px;
    font-family: Inter sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  "
>
  Click on the following link to finish registration
</p>
<a href="{{verificationUrl}}">Confirm email</a>
<p
  style="
    color: #4c4e6499;
    font-size: 14px;
    font-family: Inter sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  "
>
  Thanks for choosing bitoftrade. We are here for you to provide the best crypto
  solutions on the market!
</p>
{{/layout}}
