<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bitoftrade email</title>
  </head>
  <table
    style="
      border-collapse: separate;
      width: 100%;
      font-family: Inter sans-serif;
      font-size: 14px;
      line-height: 1.4;
      -webkit-font-smoothing: antialiased;
    "
  >
    <tr>
      <td style="max-width: 580px">
        <div style="margin-left: auto; margin-right: auto; max-width: 580px">
          <!-- START CENTERED WHITE CONTAINER -->

          <table style="background-color: #ffffff; width: 100%">
            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td>
                <div
                  style="padding: 16px; margin-top: 16px; margin-bottom: 16px"
                >
                  <div>{{> @partial-block }}</div>
                </div>
                <img
                  style="width: 102px"
                  src="https://bofdevstorage.blob.core.windows.net/blobcontainer/letter-logo-bitoftrade.png"
                  alt=""
                />
                <table
                  style="
                    color: rgba(76, 78, 100, 0.6);
                    font-weight: 700;
                    line-height: 16px;
                  "
                >
                  <tr>
                    <td
                      style="
                        border-right: solid 1px #dee2e9;
                        padding-right: 8px;
                      "
                    >
                      <a
                        style="color: inherit; text-decoration: none"
                        href="https://t.me/bitoftradeOfficial"
                        >Telegram</a
                      >
                    </td>
                    <td
                      style="
                        border-right: solid 1px #dee2e9;
                        padding-right: 8px;
                        padding-left: 7px;
                      "
                    >
                      <a
                        style="color: inherit; text-decoration: none"
                        href="https://www.youtube.com/@bitoftrade"
                        >Youtube</a
                      >
                    </td>
                    <td style="padding-left: 7px">
                      <a
                        style="color: inherit; text-decoration: none"
                        href="https://twitter.com/bitoftrade"
                        >Twitter</a
                      >
                    </td>
                  </tr>
                </table>

                <hr
                  style="
                    border: 0;
                    border-bottom: 1px solid #dee2e9;
                    margin-top: 8px;
                    margin-bottom: 8px;
                  "
                />
                <table>
                  <tr>
                    <td>
                      <span
                        style="
                          font-size: 12px;
                          color: rgba(76, 78, 100, 0.6);
                          font-style: normal;
                          font-weight: 400;
                          line-height: 16px;
                        "
                        >If you have questions or need help, don't hesitate to
                        contact our support team!</span
                      >
                    </td>
                  </tr>
                </table>
                <table>
                  <tr>
                    <td>
                      <a
                        style="color: #003cdf"
                        href="mailto:support@bitoftrade.com"
                        >support@bitoftrade.com</a
                      >
                    </td>
                  </tr>
                </table>
                <table
                  style="
                    color: rgba(76, 78, 100, 0.6);
                    font-weight: 700;
                    line-height: 16px;
                  "
                >
                  <tr>
                    <td
                      style="
                        border-right: solid 1px #dee2e9;
                        padding-right: 8px;
                      "
                    >
                      <a
                        style="color: inherit; text-decoration: none"
                        href="https://bitoftrade.com/terms"
                        >Terms of service</a
                      >
                    </td>
                    <td
                      style="
                        border-right: solid 1px #dee2e9;
                        padding-right: 8px;
                        padding-left: 7px;
                      "
                    >
                      <a
                        style="color: inherit; text-decoration: none"
                        href="https://bitoftrade.zendesk.com/"
                        >Help center
                      </a>
                    </td>
                    <td style="padding-left: 7px">
                      Contact us:
                      <a
                        style="color: inherit; text-decoration: none"
                        href="https://t.me/bitoftradeOfficial"
                        >Telegram</a
                      >
                      <a
                        style="color: inherit; text-decoration: none"
                        href="https://discord.gg/wfReEmmzrd"
                        >Discord</a
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- END MAIN CONTENT AREA -->
          </table>
        </div>
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
</html>
