.wrapper {
  height: 100%;
  z-index: 80;
  position: relative;
  outline: none;
  height: inherit;
  max-height: inherit;
  min-height: inherit;
  z-index: 90;
}

.wrapper:focus .wrapperInput {
  border-color: var(--green);
  color: var(--font);
}

.wrapperInput {
  height: 100%;
  min-height: 30px;
  margin-left: auto;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0 24px;
  cursor: pointer;
  font-size: 16px;
  color: var(--font);
  line-height: 1.2;
  font-weight: 700;
  position: relative;
  background-color: var(--defaultButton);
  height: inherit;
  border: 2px solid transparent;
}

.wrapperInput>*+* {
  margin-left: 10px;
  font-size: 14px;
}

.networkIcon {
  display: flex;
}

.arrow {
  display: flex;
  align-items: center;
}

.arrow>svg {
  transition: 0.3s ease-in-out;
}

.wrapper:hover .wrapperInput,
.wrapper.active .wrapperInput {
  border: 2px solid var(--green);
}

.wrapper.active .menu {
  opacity: 1;
  visibility: visible;
  border: 2px solid var(--green);
}

.wrapper.active .wrapperInput .arrow>svg {
  transform: rotate(180deg);
}

.menu {
  min-width: 200px;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 10px 0;
  background-color: var(--defaultButton);
  border: 1px solid var(--transparentWhite);
  border-radius: 8px;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  max-height: 300px;
  overflow: auto;
}

.menu.bottom {
  top: 100%;
  bottom: auto;
}

.menu.top {
  top: auto;
  bottom: 100%;
}

.option {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 12px 15px 12px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: var(--font);
  transition: 0.3s ease-in-out;
  position: relative;
}

.unActive {
  opacity: 0.4;
  cursor: not-allowed;
}

.option:hover {
  background-color: var(--greenHover);
  color: var(--font);
}

.title:not(:first-child) {
  margin-left: 8px;
}


@media (max-width: 992px) {
  .wrapperInput {
    padding: 6px 12px;
  }

  .wrapperInput span {
    display: none;
  }
}