.wrapper {
  margin-bottom: 50px;
}

.content {}

.header {
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 24px;
  display: flex;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.tableWrapper {}

.link {
  color: var(--secondaryFont);
  font-size: 18px;
  font-weight: 400;
}

.link:hover {
  text-decoration: underline;
}

.warningText {
  font-size: 18px;
}

.warningTextWrapper {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.loaderWrapper {
  margin-bottom: 20px;
}

.wrapperTabs {
  max-width: 448px;
}

.paginationWrapper {
  display: flex;
  justify-content: right;
  padding-bottom: 20px;
  margin-right: 30px;
}

.subInfo {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}

.subInfo.openSubInfo {
  max-height: 130px;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondaryBackground);
  border-radius: 16px;
  padding: 32px;
}

.infoSections.crosschain {
  flex: 1;
}

.infoSections {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.infoBlock {
  display: flex;
  align-items: center;
}

.label {
  color: var(--secondaryFont);
  margin-right: 7px;
  font-size: 16px;
}

.wrapperClarification {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .header {
    padding: 20px 20px 15px;
  }

  .title {
    font-size: 20px;
  }

  .paginationWrapper {
    justify-content: center;
  }
}

@media (max-width: 567px) {
  .title {
    margin-bottom: 16px;
  }

  .header {
    flex-direction: column;
    align-items: start;
  }
}
