.container {
   display: flex;
   flex-flow: column;
   row-gap: 24px;
}

.description {
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
   color: var(--secondaryFont);
}

.title {
   font-weight: 700;
   font-size: 36px;
   line-height: 50px;
}