cache/
artifacts/

coverage*
typechain/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost
deployments/tenderly

/.dapp

.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session

.DS_store

#file with first tx executor constructor arguments
arguments.js 
.openzeppelin