.toggleWrapper {
    display: flex;
    background: var(--backgroundMain);
    height: 32px;
    border-radius: 5px;
}

.toggleOption {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 34px;
    padding: 0 5px 0 5px;
    width: fit-content;
    cursor: pointer;
}

.toggleOption:first-child {
    border-radius: 5px 0 0 5px;
}

.toggleOption:last-child {
    border-radius: 0 5px 5px 0;
}

.toggleOption.active {
    border: 1px solid var(--green)
}