.seatReservation {
  min-height: var(--headerHeight);
}

.wrapper {
  max-width: 1440px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  z-index: 70;
  transition: background-color 0.3s;
  border-bottom: 1px solid var(--borderColor);
}

.headerMenu {
  display: flex;
  justify-content: center;
  flex-basis: content;
  gap: 1em;
}

.wrapperSelect.select>div {
  width: 130px;
  background: transparent;
}

.menuLink {
  cursor: pointer;
  font-size: 18px;
  color: white;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.menuLink:hover {
  color: #38d9c0;
}

.menuDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.menuDropdownItem:not(:first-child) {
  padding: 6px 8px;
}

.arrowRotate>svg {
  transform: rotate(180deg);
}

.wrapper[class~='boxStyle'] {
  border-radius: 0;
}

.shadow {}

.shadow .header {
  min-height: var(--headerHeight);
  background-color: var(--background);
}

.header {
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  min-height: var(--headerHeight);
  transition: min-height 0.3s;
}

/* desktop */
.desktop {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  height: 100%;
  font-size: 16px;
}

.linkLogo {
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.actions .link {
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  color: var(--secondaryFont);
}

.actions .link.linkFirst {
  margin-left: 0;
}

/* navigation */
.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin: 0 auto;
}

.wrapperLanguageSwitcher {
  margin-right: 20px;
}

.link {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.3s;
  color: var(--secondaryFont);
}

.link:hover {
  color: var(--font);
}

.linkButton {
  display: block;
  width: 146px;
  margin-left: 50px;
}

/* mobile */
.linksMobile {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.mobile {
  height: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.mobileMenu {
  padding: 40px 16px 48px;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  height: 100%;
  grid-template-rows: max-content 1fr max-content;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}

.anchorWrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border-bottom: 1px solid var(--borderColor);
}

.anchorWrapper:last-of-type {
  margin-bottom: 16px;
}

.navigationMobile {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 2rem;
}

.navigationMobile>a {
  margin-bottom: 5px;
}

.mobile .wrapperLanguageSwitcher {
  margin-right: 0;
  max-width: 74px;
  margin: 0;
}

.mobile .linkButton {
  margin: 0;
  width: 100%;
}

/* @media (max-width: 1300px) {
  .navigation {
    font-size: 12px;
  }
} */

@media (max-width: 1200px) {
  .seatReservation {
    min-height: var(--headerHeight);
  }

  .wrapper {
    min-height: var(--headerHeight);
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 576px) {
  .wrapper {}

  .header {
    padding: 0 16px;
    position: relative;
  }
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .wrapper.shadow[class~='boxStyle'] {
    background-color: var(--background);
  }
}
